apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: 'hospital-backend'
      static_configs:
      - targets: ['hospital-backend:5000']
    - job_name: 'hospital-frontend'
      static_configs:
      - targets: ['hospital-frontend:80']